Kuhlschrank/DataAccess/Service References/DeviceService/DeviceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeviceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1966/Device.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1966/Device.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1966/Device.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeviceService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_CheckRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegistration" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_CheckRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_rest_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:rest_delete" />
  </wsdl:message>
  <wsdl:message name="IDeviceService_rest_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:rest_deleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeviceService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/GetAll" message="tns:IDeviceService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/GetAllResponse" message="tns:IDeviceService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/GetById" message="tns:IDeviceService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/GetByIdResponse" message="tns:IDeviceService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Delete" message="tns:IDeviceService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/DeleteResponse" message="tns:IDeviceService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Update" message="tns:IDeviceService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/UpdateResponse" message="tns:IDeviceService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Insert" message="tns:IDeviceService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/InsertResponse" message="tns:IDeviceService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/CheckRegistration" message="tns:IDeviceService_CheckRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/CheckRegistrationResponse" message="tns:IDeviceService_CheckRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/Register" message="tns:IDeviceService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/RegisterResponse" message="tns:IDeviceService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="rest_delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceService/rest_delete" message="tns:IDeviceService_rest_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceService/rest_deleteResponse" message="tns:IDeviceService_rest_delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeviceService" type="tns:IDeviceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckRegistration">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/CheckRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rest_delete">
      <soap:operation soapAction="http://tempuri.org/IDeviceService/rest_delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceService">
    <wsdl:port name="BasicHttpBinding_IDeviceService" binding="tns:BasicHttpBinding_IDeviceService">
      <soap:address location="http://localhost:1966/Device.svc/win" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>