Kuhlschrank/DataAccess/Service References/UserProductsService/UserProducts1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserProducts" nillable="true" type="tns:UserProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserProducts" nillable="true" type="tns:ArrayOfUserProducts" />
  <xs:complexType name="UserProducts">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdProduct" type="xs:int" />
          <xs:element minOccurs="0" name="IdUser" type="xs:int" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserProducts" nillable="true" type="tns:UserProducts" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
</xs:schema>